/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Reddit Sans';
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --background-color: #FEF9E1;
    --shadow-color: #E5D0AC;
    --accent-color: #A31D1D;
    --dark-accent-color: #6D2323;

    --default-font-size: 16px;
}

* {
    font-size: 16px;
}

body {
    background-color: var(--background-color);
}

.sideboard {
    position: fixed;
    width: 20em;
    height: 100vh;
    /* background-color: var(--shadow-color); */
    background-image: linear-gradient(to bottom, var(--shadow-color), var(--background-color));
    box-shadow: 5px -5px 5px #856f4b;

    display: flex;
    flex-direction: column;

    border-end-end-radius: 2em;
    border-start-end-radius: 2em;
}

.sideboard h2 {
    text-align: center;

    text-decoration: underline;

    margin: 0.5em 0;

    font-size: 3em;
    font-family: 'Itim';
    color: #3e3e3e;
}

.create-project {
    height: 2em;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 1em;

    font-family: 'Itim';
    color: var(--background-color);
    margin: 1em auto;

    background-color: var(--accent-color);
    border: none;
    border-radius: 0.4em;

    box-shadow: 2px 2px 2px var(--dark-accent-color);
}


.project-list * {
    padding: 0.5em 2em;
}



.project-list input {
    padding: 0.5em;
    margin: 1em auto;
    border: 1px solid #ccc;
    border-radius: 0.6em;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;

    color: var(--dark-accent-color);
}

.project-list input::placeholder {
    color: var(--dark-accent-color);
}

h1 {
    font-family: 'Itim';
    font-size: 4em;

    color: #3e3e3e;
    text-shadow: 3px 3px 2px #3e3e3e;

    margin-top: 0.2em;
}

main {
    margin-left: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-container {
    width: 80%;
    border-radius: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    padding: 2em 1em;
    margin: 1em 2em 0;

    background-color: var(--shadow-color);
}

.add-todo {
    width: 80%;
    height: 2em;

    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: 'Itim';
    color: var(--background-color);

    background-color: var(--accent-color);
    border: none;
    border-radius: 0.4em;

    box-shadow: 2px 2px 2px var(--dark-accent-color);
}

.plus {
    height: 1em;
    filter: brightness(0) saturate(100%) invert(90%) sepia(21%) saturate(336%) hue-rotate(331deg) brightness(108%) contrast(99%);
}

.cross {
    height: 1em;
    position: absolute;
    top: 2em;
    right: 2em;


}

.add-todo,
.create-project {
    font-size: 1.2em;
}

.add-todo:hover,
.create-project:hover {
    background-color: #931a1a;
}

.todo-list-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.todo-list-section div {
    background-image: radial-gradient(white, var(--background-color));
    border-radius: 2em;

    position: relative;

    padding: 2em;
}

.todo-list-section h2 {
    display: inline-block;

    font-size: 2em;
    font-variant: small-caps;

    color: var(--accent-color);
    font-weight: bold;

    margin-bottom: 0.5em;
}

.todo-list-section p {
    color: #3e3e3e;
}

.fade-rotate-out {
    animation: fadeRotateOut 0.5s ease-out backwards;
}

.date {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

h1 img {
    height: 0.5em;
    filter: brightness(0) saturate(100%) invert(10%) sepia(1%) saturate(668%) hue-rotate(321deg) brightness(107%) contrast(70%);
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pop-up-window {
    background: var(--background-color);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1.5em var(--shadow-color);
    width: 20em;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}

.pop-up-window h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: none;
    text-decoration: underline;
}

.pop-up-window form {
    display: flex;
    flex-direction: column;
}

.pop-up-window label {
    margin: 0.5em 0;
    font-size: 1.2em;
    align-self: flex-start;
}

.pop-up-window input {
    padding: 0.8em;
    margin-bottom: 0.6em;
    border: 1px solid #ccc;
    border-radius: 0.6em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.compleate-block input {
    width: auto;
}

.compleate-block {
    align-self: flex-start;
}

.submit-form,
.cancel {
    padding: 0.5em 0;
    border: #ccc;
    border-radius: 0.5em;
    margin: 0.5em 0;
    color: whitesmoke;
}

.submit-form {
    width: 100%;
    background-color: #9acd80;

    font-family: 'Itim';
    transition: 1s;
}

.submit-form:hover {
    background-color: #68c43b;
    transition: 1s;
}

.cancel {
    width: 10em;
    background-color: var(--accent-color);
}

.cancel:hover {
    background-color: var(--accent-color);
    animation: cancel-anim 2s ease-in-out backwards;
}

@keyframes cancel-anim {
    0% {
        transform: translateX(2px);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay-container.show {
    display: flex;
    opacity: 1;
}

@keyframes fadeRotateOut {
    0% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }

    100% {
        opacity: 0;
        transform: rotate(90deg) scale(0.5);
    }
}